:host {
    width: 100%;
    position: sticky;
    top: 5rem;
    margin-top: 1.5rem;
}

.filter-container {
        padding: 15px;
        background-color: #fff;
        border-radius: 1rem;
        border: 2px solid #f7f8f9;
        box-shadow: 0 1px 2px #edebf0;

}
.filter-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
    color: 231444;
    gap: 1rem;
    font-weight: 600;
    transition: height 0.2s ease-out;

}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sort {
    width: 100%;
}
.col {
    flex-direction: column;
    align-items: start;
}
.price {
    width: 100%;
}
.filter {
    font-size: 0.75rem;
    font-weight: 100;
    color: #231444;
}
.weight {
    font-weight: 700;
}
.slider {
    width: 90%;
}
.input-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.inp {
    width: 50%;
}
.category-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.gap {
    gap: 1.5rem;
}
.w100 {
    width: 100%;
}
.w90 {
    width:100%;
}
.disabled {
    background-color: #253988!important;
    color: white!important;
    opacity: 0.5;
}
.header-auth {
    border-bottom: 1px solid #646d8c;
    height: 3.5rem;
    position: sticky;
    top: -10px;
    background-color: white;
    z-index: 1;   
}
.header {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    height: 100%;
    position: relative;
}
.maximize {
    position: fixed;
    left: 50%;
    top: 1rem;
    opacity: .5;
}
.icon {
    font-size: 0.75rem;
}
.d {
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    cursor: pointer;
}
.m {
    display: flex;
    align-items: center;
    justify-content: center;
}
.font {
    font-size: 0.6rem!important;
}

.flexing {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.aft {
    position: relative;
    font-size: 0.75rem;
    font-weight: 600;
}
.aft::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.3rem;
    width: 2px;
    height: 2px;
    background-color:#231444;
    border-radius: 50%;
}
.desk {
    display: none;
}

@media (min-width:992px) {
    :host {
        display: block;
        width: 35%;
    }
    .mob {
        display: none;
    }
    .maximize {
        display: none;
    }
    .desk {
        display: block;
    }
    
}
@media (min-width:1136px) {
    :host {
        width: 33%;
    }
}