<div class="about-us-container">
    <div class="bcca-breadcrumb">
        <div class="bcca-breadcrumb-item">ჩვენს შესახებ</div>
        <div class="bcca-breadcrumb-item" routerLink="/">მთავარი</div>
    </div>
    <div class="about-container">
        <div class="row">
            <p>VGParts-მა საქართველოში საქმიანობა 2017 წლიდან დაიწყო.ჩვენ გთავაზობთ სხვადასხვა მარკის და მოდელის ავტომობილების ნაწილებს. 
                ჩვენი საიტის დახმარებით მომხმარებელს ადვილად შეუძლია სასურველი ავტომანქანის ნაწილის მოძებნა და შეძენა.
            </p>
            <p>
                ჩვენ მომხმარებელს ვთავაზობთ უმაღლეს ხარისხს,მისაღებ ფასებს,სათანადო მომსახურებას და მიწოდების სერვისს (საკურიერო მომსახურებას).
            </p>
            <p>
                ჩვენთან ასევე შესაძლებელია შეძენილი ავტონაწილის გაგზავნა, როგორც საქართველოს მაშტაბით, ასევე მის საზღვრებს გარეთ.
            </p>
            
        </div>
        <mat-divider></mat-divider>
        <div class="detailed">
            <div class="offer">ჩვენი სერვისები:</div>
            <ul>
                <li>ავტომანქანების ქირაობა</li>
                <li>ავტონაწილების შეძენა</li>
                <li>ავტონაწილების გამოწერა საზღვარგარეთიდან</li>
                <li>ექსპერტის კონსულტაცია</li>
            </ul>
        </div>
        <div class="contact-us">
            
        </div>
        
    </div>
