:host {
    width: 100%;
    font-size: 0.85rem;
    font-family:sans-serif;
    overflow-y: scroll;
}
.overlay-container {
    padding: 10px 15px;

}
.menu-cont {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family:sans-serif;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.menu-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.close {
    margin-right: 0!important;
    margin-left: 0.75rem!important;
}
.contact-wrapper {
    margin: 1rem 0.25rem;
    padding: 0 15px;
    color: #231444;
    font-weight: 600;
    font-size: 0.8rem;
}
.contact-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

}
.location-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}
.number-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}
.desc {
    margin-left: -0.5rem;
    font-size: 0.65rem;
    font-weight: 700;
    color: #231444;
}
.icon {
    color: #253988;
}
.fb-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}
.fb {
    width: 1.3rem;
}
.tel {
    text-decoration: none;
    color: #231444;
}
.item {
    cursor: pointer!important;
}
.item:hover {
    background-color: #f7f8f9;
}
