:host {
    width: 100%;
    
    height: 100%;
}
.reg-container {
    width: 100%;
    height: 70vh;
    padding-right: 1rem;
    color: #646d8c;
    font-size: 0.8rem;
    transition: height .2s ease-out;
    overflow-y: scroll;
    

}

.header-reg {
    border-bottom: 1px solid #646d8c;
    height: 3.5rem;
    position: sticky;
    top: -10px;
    background-color: white;
    z-index: 1;   
    touch-action: none; 
}
.header {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    height: 100%;
    position: relative;
}
.reg-body {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:15px;
        
}
.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.field {
    width: 100%;
}
.button {
    width: 100%;
    border-radius: 1rem;
}
.slide-down {
    animation:  slide-down .4s ease-out forwards;
}
.toaster {
    background-color: rgba(219,234,254,0.7);
    border: solid #3b82f6;
    border-width: 0 0 0 6px;
    color: #3b82f6;
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
    
  }
  .toaster-message {
    padding: 1rem;
    border-width: 0 0 0 6px;
    display: flex;
    align-items: center;
  }
  .close-sm {
    font-size: .7rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.register-failed {
    color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.75rem;
}
@keyframes slide-down {
    0% {
      transform: translateY(-1rem) scale(.8);
      opacity: .3;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
@media (min-width:992px) {
    .reg-container {
        height: 100%;
        max-width: 400px;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
    }
    .toaster {
        display: none;
    }
    .name-cont {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }
    .nameinput {
        width: 45%;
    }
    .maximize {
        display: none;
    }
}