<div class="footer-container">
    <div class="footer-wrapper">
        <!--
        <div class="logo-wrapper" routerLink="/">
            <div class="log">
                VG<span class="lg">Parts</span>
            </div>
            <img src="../assets/car-logo.png" class="img" [class.animate]="animation">
        </div>
        -->
        <div class="about-us">
            <div class="about-us-desc">
            <div class="desc">ჩვენ გთავაზობთ</div>
            <div class="pleft">ავტომანქანების ქირაობა</div>
            <div class="pleft">ავტონაწილების შეძენა</div>
            <div class="pleft">ავტონაწილის გამოწერა საზღვარგარეთიდან</div>
            <div class="pleft">ექსპერტის კონსულტაცია</div>
            </div>
        </div>
        <div class="clients">
            <div class="desc">მომხმარებლებისთვის</div>
            <div class="client-cont">
                <div class="client-flex" (click)="openReg()">
                    
                        <mat-icon class="icon">account_circle</mat-icon>
                    
                    <div class="mail-mob client">რეგისტრაცია</div>
                </div>
                <div class="client-flex" (click)="openAuth()">
                    
                    <mat-icon class="icon">account_circle</mat-icon>
                
                <div class="mail-mob client">ავტორიზაცია</div>
            </div>
                <div class="client-flex" routerLink="/about">
                    
                        <mat-icon class="icon">info</mat-icon>
                    
                    <div class="mail-mob client">ჩვენს შესახებ</div>
                </div>
                
            </div>
        </div>
        
        <div class="contact-us">
            <div class="desc">დაგვიკავშირდით</div>
            <div class="contact-cont">
                <div class="contact-flex">
                        <mat-icon class="icon">mail_outline</mat-icon>
                        <div class="mail-mob">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=vgparts.info@gmail.com" target="_blank" class="tel">vgparts.info@gmail.com</a>
                        </div>
                </div>
                <div class="contact-flex">
                    <mat-icon class="icon"> phone</mat-icon>
                    <div class="mail-mob">
                        <a href="tel:+995558121999" class="tel">558 121-999</a>
                    </div>
                </div>
                <div class="contact-flex">
                    <mat-icon class="icon">location_on</mat-icon>
                    <a href="https://www.google.com/maps/place/9+%E1%83%A8%E1%83%90%E1%83%9C%E1%83%93%E1%83%9D%E1%83%A0+%E1%83%9E%E1%83%94%E1%83%A2%E1%83%94%E1%83%A4%E1%83%98%E1%83%A1+%E1%83%A5%E1%83%A3%E1%83%A9%E1%83%90,+%E1%83%97%E1%83%91%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1%E1%83%98/@41.6929266,44.8619146,17z/data=!4m5!3m4!1s0x40440dbe85bca99d:0x239cc0763bc8f76a!8m2!3d41.6944207!4d44.8625476?entry=ttu" class="tel">შანდორ პეტეფის ქუჩა, 9</a>
                </div>
            </div>
        </div>
        
        <div class="working-hours">
            <div class="work">
                <div class="desc">სამუშაო საათები</div>
                <div class="working-flex">
                    <mat-icon class="icon">query_builder</mat-icon>
                    <div class="working">
                        <div class="days">
                            ორშაბათი - შაბათი
                        </div>
                        <div class="hour">
                            10:00სთ - 19:00სთ
                        </div>
                    </div>
                    
                        
                </div>
            </div>
            <div class="contact-flex">
                <img src="../../../assets/fb.png" class="fb">
                <div class="mail-mob fbfont">
                    <a href="https://www.facebook.com/vgparts.ge.store" class="tel">გამოგვყევით ფეისბუქზე</a>
                </div>
            </div>
        </div>
       
        
        </div>
        <!--
        <div class="devby">
            Copyright LLC VGParts 2018-2023, All Rights Reserved
            <div class="by">
                Developed by WD Studio
            </div>
        </div>
    -->
    </div>


