:host {
    display: block;
    width: calc(100% - 25rem);
    z-index: 1000;
    padding: 1rem;
}
.submenu-container {
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
}
.submenu-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5rem;
}
.submenu-card {
    width: 35%;
}
.card-flexcol:hover {
    background-color:#e5e7f1;
}
.card-flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    background-color: #f7f8f9;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #e5e7f1;
    color: #231444;
    position: relative;
    width: 100%;
}
.img-wrapper {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 70%;
    max-height: 100%;
    border-radius: 2rem;
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.title {
    font-size: 1rem;
    font-weight: 700;
}
.year {
    font-size: 0.7rem;
}