<div class="cart-container">
    <div class="header-bottom" touch>
        <div class="header">
             ფავორიტების სია
             <div class="minimize" matTooltip="ფავორიტების დახურვა" (click)="closed()">
                 <mat-icon>maximize</mat-icon>

             </div>
             

        </div>

    </div>
    <ng-container *ngIf="favArray.length > 0; else temp">
        <mat-list class="list">
            <ng-container *ngFor="let item of favArray; last as isLast">
                <mat-list-item class="list-item">
                    <img matListItemAvatar src="{{url}}{{item.images[0]?.path}}">
                    <h3 matListItemTitle>{{item.nameGeo}}</h3>
                    <span matListItemLine>ფასი : {{item.price}} ₾</span>
                    
                    <div matListItemMeta (click)="removeItem(item)">
                        <mat-icon class="sale" matTooltip="ფავორიტებიდან წაშლა">delete</mat-icon>
                    </div>
                </mat-list-item>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </ng-container>
        </mat-list>
    </ng-container>
    <ng-template #temp>
        <div class="empty-cart">
            <div class="img-flex">
                <img src="../../../assets/favs.png" class="empty-img">
        
            </div>
            <div class="message-wrapper">
                <div class="message">ფავორიტების სია ცარიელია !</div>
                
            </div>
        </div>
    </ng-template>
</div>
<ng-container *ngIf="favArray.length > 0">
    <mat-divider></mat-divider>
    <div class="cart-actions">
        <button mat-button class="category" (click)="closed()">უკან</button>
        <button mat-button class="buy-button actions" (click)="routerLink()">
            დეტალურად
        </button>
    </div>
</ng-container>

