<div class="search-container" *ngIf="loaded; else loading">
    <div class="list" #list>
        <ng-container *ngIf="filteredList.length > 0; else temp">
            <ng-container *ngFor="let item of filteredList; let i = index; let isLast = last">
                <div class="list-item" (click)="selectProduct(i+1)" tabindex="0" #listitem [class.hovered]="hovered === i">
                
                    <img src="{{url}}{{item.images[0].path}}" class="list-img">
                    <span class="list-content">
                        <h3 class="list-title">{{item.nameGeo}} ({{item.categorY?.name}})</h3>
                        <p class="list-price">{{item.price}}₾</p>
                    </span>
                    
                </div>
                <mat-divider [inset]="true" *ngIf="!isLast"></mat-divider>
            </ng-container>
             
        </ng-container>
        <ng-template #temp>
            <div class="not-exist-wrapper">
                <div class="not-exist">
                    <img src="../../../assets/search4.png" class="not-exist-img">
                    <div class="not-exist-title">მსგავსი პროდუქტი ვერ მოიძებნა!</div>
                </div>
                <div class="famous-searches">
                    <div class="top-wrapper">
                        <span class="top">
                            Top კატეგორიები
                        </span>
                    </div> 
                    <div class="searched-flex">
                        <div class="col">
                            <div class="searched-wrapper">
                                <img src="../../../assets/carpart.png" height="25" width="25">
                                ძარის ნაწილები
                            </div>
                            <div class="searched-wrapper">
                                <img src="../../../assets/carpart3.jpg" height="25" width="25">
                                სავალი ნაწილები
                            </div>
                        </div>
                        <div class="col">
                            <div class="searched-wrapper">
                                <img src="../../../assets/carpart5.png" height="25" width="25">
                                ელექტროობა
                            </div>
                            <div class="searched-wrapper">
                                <img src="../../../assets/carpart4.png" height="25" width="25">
                                გაგრილების სისტემა
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </ng-template>
       
        
 

</div>
</div>
<ng-template #loading>
    <mat-progress-spinner></mat-progress-spinner>
</ng-template>

