<div class="renew-container">
    <div class="header-renew">
        <div class="header">
            <!--
            <button mat-icon-button class="back" (click)="close()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            -->
            პაროლის აღდგენა
             <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="renew-body">
        <!--
        <div class="toaster" *ngIf="toaster">
            <div class="toaster-message">
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
                <div class="toaster-content">
                  
                </div>
                <div class="" (click)="toaster=false">
                    <mat-icon class="close-sm">close</mat-icon>
                </div>
                
            </div>
           </div>
        -->
        <div class="renew-input">
            <ng-container [formGroup]="formGroup">
                <mat-form-field appearance="outline">
                    <mat-label>პაროლი</mat-label>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input type="password" matInput formControlName="password">
    
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>გაიმეორეთ პაროლი</mat-label>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input type="password" matInput formControlName="confirmPassword">
                </mat-form-field>
                <mat-error *ngIf="formGroup.hasError('mismatch')" class="ng-error">
                    პაროლები ერთმანეთს არ ემთხვევა
                </mat-error>
            </ng-container>
            <button mat-raised-button color="primary" class="button" (click)="renew()">
                აღდგენა
            </button>
        </div>
    </div>
</div>
