<div class="container">
    <div class="about-desc desk flex">
        <span>პროდუქტის შესწორება</span>
        <button mat-icon-button matTooltip="პროდუქტის წაშლა" (click)="deleteProduct()">
            <mat-icon class="delete">delete</mat-icon>
        </button>
    </div>

    <div class="information-wrapper" [formGroup]="formGroup">
        <!--
        <div class="categories">
    
            <mat-form-field appearance="outline" class="field">
                <mat-label>კატეგორია</mat-label>
                <mat-icon matPrefix> directions_car</mat-icon>
                <mat-select>
                    <ng-container *ngFor="let item of categories">
                        <mat-option [value]="item">{{item}}</mat-option>
                    </ng-container>
                        
                      
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>ქვე-კატეგორია</mat-label>
                <mat-icon matPrefix> directions_car</mat-icon>
                <mat-select>
                    <ng-container *ngFor="let item of categories">
                        <mat-option [value]="item">{{item}}</mat-option>
                    </ng-container>
                        
                      
                </mat-select>
            </mat-form-field>
        </div>
        -->
        <div class="categories" *ngIf="product.type === 0">
    
            <mat-form-field appearance="outline" class="field">
                <mat-label>მწარმოებელი</mat-label>
                <mat-select formControlName="brand">
                    <ng-container *ngFor="let item of root">
                        <mat-option [value]="item.id">{{item.name}}</mat-option>
                    </ng-container>
                        
                      
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="field">
                <mat-label>მოდელი</mat-label>
                <mat-select formControlName="model" >
                    <ng-container *ngFor="let item of subcategories; index as i">
                        <mat-option [value]="i">{{item.name}}</mat-option>
                    </ng-container>
                        
                      
                </mat-select>
            </mat-form-field>
        </div>
        <div class="relations" *ngIf="product.type === 0">
            <mat-form-field appearance="outline" class="field">
                <mat-label>კატეგორია</mat-label>
                <mat-select formControlName="relation" [multiple]="true">
                    <ng-container *ngFor="let item of tags">
                        <mat-option [value]="item.id">{{item.name}}</mat-option>
                    </ng-container>
                        
                      
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>წლები</mat-label>
                <mat-select formControlName="year">
                    <ng-container *ngFor="let item of years">
                        <mat-option [value]="item.id">{{item.range}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-wrapper" *ngIf="!mobsize">
            <mat-form-field appearance="outline" class="ff">
                <mat-label>სახელი</mat-label>
                <input type="text" matInput formControlName="nameGeo">
            </mat-form-field>
            <mat-form-field appearance="outline" class="ff">
                <mat-label>ფასი</mat-label>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="ff">
                <mat-label>ფასდაკლება</mat-label>
                <input type="number" matInput formControlName="discount">
            </mat-form-field>
        </div>

        <div class="flex-wrapper" *ngIf="!mobsize">
            
            <mat-form-field appearance="outline" class="ff">
                <mat-label>ლათინურად</mat-label>
                <input type="text" matInput formControlName="nameEng">
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="ff" *ngIf="product.type === 1">
                <mat-label>ხელმისაწვდომობა</mat-label>
                <mat-select formControlName="stck">
                    <mat-option [value]="0">გაქირავებული</mat-option>
                    <mat-option [value]="1">გასაქირავებელი</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="ff" [class.w66]="product.type === 0">
                <mat-label>მდგომარეობა</mat-label>
                <mat-select formControlName="condition">
                    <mat-option value="ახალი">ახალი</mat-option> 
                    <mat-option value="მეორადი">მეორადი</mat-option> 
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mob-size" *ngIf="mobsize">
            <mat-form-field appearance="outline" class="w100">
                <mat-label>სახელი</mat-label>
                <input type="text" matInput formControlName="nameGeo">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
                <mat-label>ფასი</mat-label>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
                <mat-label>ფასდაკლება</mat-label>
                <input type="number" matInput formControlName="discount">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
                <mat-label>ლათინურად</mat-label>
                <input type="text" matInput formControlName="nameEng">
            </mat-form-field>
            <mat-form-field appearance="outline" class="ff" *ngIf="product.type === 1">
                <mat-label>ხელმისაწვდომობა</mat-label>
                <mat-select formControlName="stck">
                    <mat-option [value]="0">გაქირავებული</mat-option>
                    <mat-option [value]="1">გასაქირავებელი</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
                <mat-label>მდგომარეობა</mat-label>
                <mat-select formControlName="condition">
                    <mat-option value="ახალი">ახალი</mat-option> 
                    <mat-option value="მეორადი">მეორადი</mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100" *ngIf="stck">
                <mat-label>ხელმისაწვდომობა</mat-label>
                <mat-select formControlName="stck">
                    <mat-option [value]="0">გაქირავებული</mat-option>
                    <mat-option [value]="1">გასაქირავებელი</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="tarea">
            <mat-label>სრული აღწერა</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        
        
        <!-- ngImageUpload (imageUploaded)="handleImageUpload($event)" -->
        <label for="file-upload" class="custom-file-uploader">
            <mat-icon> attach_file</mat-icon> დაამატე ფოტო
        </label>
        <input type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" (change)="imageHandler($event)" id="file-upload">
        <br>
        <ng-container *ngIf="images.length > 0">
            
                    <div class="dots-flex">
                        <ng-container *ngFor="let image of images; let i = index">
                            <div class="dots-wrapper bordered" (click)="arrows(0)">
                                <!--<img [src]="image" class="dot-image">-->
                                <img [src]="getUrl(image)" class="dot-image">
                                <div class="remove" (click)="removeFile(i)">
                                    <mat-icon class="icon">close</mat-icon>
                                </div>
                            </div>
                        </ng-container>
                       
                    </div>
               
        </ng-container>
        <button mat-raised-button color="primary" class="button" (click)="submits()">
            ცვლილებების შენახვა
        </button>
    </div>
</div>

    
