<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<app-bottom></app-bottom>
<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="fab-message"[class.slide-right]="hide" [class.slide-left]="!hide" matTooltip="კონტაქტი" [class.up]="chatUp" #chat>
    <button mat-icon-button (click)="openChat()" [matBadge]="unreadMessages ? unreadMessages : ''">
        <img src="../assets/message.png" class="img-fab">
    </button>
</div>

<app-footer intersect (inView)="isVisible($event)"></app-footer>


	
