<div class="review-container">
    <div class="review-header">
        <div class="header">
            <span class="header-title">შეფასებები</span>
            <div class="minimize" matTooltip="შეფასებების ჩაკეცვა" (click)="closed()">
                <mat-icon class="maximize">maximize</mat-icon>
            </div>
        </div>
    </div>
    <div class="review-list" *ngIf="loaded; else temp">
        <ng-container *ngFor="let item of reviews">
            <div class="list-item-wrapper">
                <div class="list-item">
                    <mat-icon class="author-icon">account_circle</mat-icon>
                    <div class="author-wrapper-col">
                        <div class="author-flex">
                            <div class="date fw">{{item.date}}</div>
                        </div>
                        <div class="review">
                            <div *ngFor="let star of starArray">
                                <mat-icon class="starred">
                                  {{showIcon(star, item.rate)}}
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item-comment fw">
                    <mat-icon class="quotes"> format_quote</mat-icon>
                    {{item.comment}}
                    <mat-icon class="quotes"> format_quote</mat-icon>
                </div>
            </div>

        </ng-container>
    </div>
    <ng-template #temp>
            <div class="empty-review">
                <div class="img-flex">
                    <img src="../../../assets/reviews.png" class="empty-img">
            
                </div>
                <div class="message-wrapper">
                    <div class="message">შეფასებები ვერ მოიძებნა!</div>
                    
                </div>
            </div>
    </ng-template>
</div>
<div class="review-actions">
    <button mat-raised-button color="primary" (click)="writeReview()" [disabled]="!auth">შეფასების დაწერა</button>
</div>
