<div class="logout-container">
    
    <div class="header-auth">
        <div class="header">
            ნავიგაცია
             <button mat-icon-button class="turnoff" (click)="close(false)">
                 <mat-icon>close</mat-icon>
             </button>
        </div>
        <mat-divider></mat-divider>
    </div>
     
    <div class="toaster slide-down">
        <div class="toaster-message">
            <button mat-icon-button>
                <mat-icon>info</mat-icon>
            </button>
            <div class="toaster-content">
                ნამდვილად გსურთ პირადი კაბინეტიდან გასვლა?
            </div>
            
        </div>
       </div>
       <div class="actions" fixedPrice>
        <button mat-button class="gray action" (click)="close(false)">
            დარჩენა
        </button>
        <button mat-raised-button color="primary" class="action" (click)="close(true)">
            გასვლა
        </button>
    </div>
</div>

