<ng-container *ngIf="products.length > 0; else tmp">

    <div class="categorywrapper" [class.margin]="view">
        <div class="product-filter">
            <div class="filter-flex">
                <div class="filter-category-flex">
                    <div class="buttons">
                        კატეგორიები
                    </div>
                    <div class="flex-end">
                        <button mat-icon-button (click)="view = false">
                            <mat-icon class="icon-sort">view_week</mat-icon>
                        </button>
                        <button mat-icon-button (click)="view = true">
                            <mat-icon class="icon-sort">view_stream</mat-icon>
                        </button>  
                    </div>
                </div>
            </div>
        </div>
        <div class="product-flex">
            <ng-container *ngFor="let item of products">
                <div class="product-card" size [class.full]="view">
                    <div [routerLink]="['/product', item.id]">
                        <div class="image-wrapper">
                            <div class="image-cont">
                                <img src="{{url}}{{item.images[0]?.path}}" class="image">
                            </div>
                            <div class="actions-desktop"></div>
                        </div>
                        <div class="product-title">
                            <div>{{item.nameGeo}}</div>
                            <div class="category-marg" *ngIf="item.type === 0">{{item.categorY.name}}</div>
                            <div class="stock" *ngIf="item.type === 1">
                                <ng-template [ngIf]="item.available ===1">
                                    <mat-icon class="stock-icon in">check_box</mat-icon>
                                    <span class="in">გასაქირავებელი</span>
                                </ng-template>
                                <ng-template [ngIf]="item.available === 0">
                                    <mat-icon class="stock-icon out">indeterminate_check_box</mat-icon>
                                    <span class="out">გაქირავებული</span>
                                    
                                </ng-template>
                            </div>
                        </div>
                        <div class="product-price">
                            <div class="fl">
                                <span class="price">
                                    {{item.price | price}}
                                    <sup class="subprice">
                                        .{{item.price | subprice}}
                                    </sup>
                                </span>
                                <span>
                                    ₾.
                                </span>
                                <mat-divider [vertical]="true" class="divider"></mat-divider>
                                <div class="oldprice" *ngIf="item.type === 0">
                                    <span class="fl line-through">
                                        {{oldPrice(item.price, item.discount)}}
                                        <sup class="subprice">
                                            .00
                                        </sup>
                                    </span>
                                    <span class="crimson">
                                        ₾.
                                    </span>

                                </div>
                                <div class="daily" *ngIf="item.type === 1">
                                   დღიურად
                                </div>
                            </div>
                            <div class="stock">
                                <!--
                                <ng-template [ngIf]="item.price >= 30">
                                    <mat-icon class="stock-icon in">check_box</mat-icon>
                                    <span class="in">მარაგშია </span>
                                </ng-template>
                                <ng-template [ngIf]="item.price < 30">
                                    <mat-icon class="stock-icon out">indeterminate_check_box</mat-icon>
                                    <span class="out">იწურება</span>
                                    
                                </ng-template>
                            -->
                            </div>
                        </div>
                    </div>
                    <div class="actions-mobile">
                        <div class="action-left">
                            <button mat-icon-button (click)="zoomIn(item.images[0]?.path)">
                                <mat-icon>zoom_in</mat-icon>
                            </button>
                            <button mat-icon-button (click)="addFavorites(item)">
                                <mat-icon class="icon" [class.clickIn]="animate===item.id">{{isFavorite(item) ? 'favorite' : 'favorite_border'}}</mat-icon> 
                            </button>
                            
                        </div>
                        <div class="action-right">
                            <button mat-icon-button (click)="addToCart(item)">
                                <mat-icon>card_travel</mat-icon>
                            </button>
                        </div>
                    </div>
                    
                    <div class="discount">
                        -{{item.discount}}%
                    </div>
                    
                </div>
            </ng-container>
            
        </div>
    </div>
</ng-container>
<ng-template #tmp>
    <div class="empty-tag">
        <img src="../../../assets/empty.jpg" class="empty-img">
        <div>მსგავსი კატეგორიის პროდუქტი ვერ მოიძებნა!</div>
    </div>
</ng-template>