.minicart-container {
    width: 100%;
    height: 50vh;
    padding-right: 10px;
    color: #646d8c;
    font-size: 0.8rem;
    transition: height .2s ease-out;
    overflow-y: scroll;
    margin-bottom: 4rem;
}

.header {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    height: 100%;
    position: relative;
}
.header-icon {    
    position: fixed;
    display: block;
    width: 2.5rem;
    height: .25rem;
    left: 50%;
    top: .1rem;
    transform: translate3d(-50%, -100%, 0);
    border-radius: 3rem;
    background-color: #646d8c;
    opacity: .25;
}
.header-bottom {
    border-bottom: 1px solid #646d8c;
    height: 3.5rem;
    position: sticky;
    top: -10px;
    background-color: white;
    z-index: 1;
    touch-action: none;
}

.maximize {
    position: fixed;
    left: 50%;
    top: .5rem;
    opacity: .5;
}
.close-sm {
    font-size: .7rem;
}
.minicart-body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
}
.list {
    width: 100%;
}
.fav-actions {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 4;
    padding: 0.5rem 1.75rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0.1, 0.2);
    gap: 0.75rem;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}
.price-container {
    display: flex;
    flex-direction: column;
    
}
.price {
    display: flex;
    gap: 1.5rem;
}
.sale {
    color: crimson;
}
.total {
    color: #231444;
}

.buy-button {
    background-color: #5b932b!important;
    color: white!important;
}
.actions {
    width: 50%;
    border-radius: 1rem;
}
.category {
    border-radius: 1.75rem;
    border: 1px solid #646d8c;
    padding: 15px;
    background-color: #f7f8f9;
    width: 50%;
  }
.rounded {
    width: 50%;
    border-radius: 1.75rem;
    border: 1px solid #646d8c;
}
.empty-cart {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty-img {
    max-width: 200px;
    max-height: 100px;
}
.message-wrapper {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 800;
}
.close {
    font-size: 0.75rem;
    margin-top: 1.5rem!important;
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.message {
    font-size: 1rem;
    font-weight: 600;
}
.empty-img {
    width: 200px;
}
.display {
    display: block;
}
.button {
    width: 50%;
}
.turnoff {
    touch-action: none;
}
@media (min-width:1200px) {
    .message {
        font-size: 1.5rem;
        font-weight: 900;
    }
}