:host {
    display: block;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #253988;
    font-weight: 600;
    margin-top: 1.25rem;
}
.header-wrapper {
    display: flex;
    align-items: center;
    font-weight: 800;
}
.field {
    width: 70%;
}
.back {
    color: #253988!important;

}
.desk {
    display: none;
}
.about-desc {
    color: #253988;
    font-size: 1rem;
    font-weight: 600;
}
.password-flex {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media (min-width:768px) {
    .field {
        width: 60%;
    }
    .password-flex {
        width: 60%;
    }
}
@media (min-width:992px) {
    .back {
        display: none;
    }
    .about-container {
        max-width: 500px;
        margin: 0 auto;
    }
    .mob {
        display: none;
    }
    .desk {
        display: block;
    }
}
.pass {
    width: 100%;
}
.notequal {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
