<div class="about-desc desk">
    პაროლის აღდგენა
</div>
<div class="about-container">
    <div class="header-wrapper">
        <button mat-icon-button class="back" routerLink="..">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="about-desc mob">
            პაროლის ცვლილება
        </div>
    </div>
    <div class="information-wrapper" [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="field">
            <mat-label>ძველი პაროლი</mat-label>
            <mat-icon matPrefix>lock_open</mat-icon>
            <input type="password" matInput formControlName="oldPassword">
        </mat-form-field>
        <div formGroupName="pass" class="password-flex">

            <mat-form-field appearance="outline" class="field pass">
                <mat-label>ახალი პაროლი</mat-label>
                <mat-icon matPrefix>lock_open</mat-icon>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field pass">
                <mat-label>გაიმეორეთ პაროლი</mat-label>
                <mat-icon matPrefix>lock_open</mat-icon>
                <input type="password" matInput formControlName="repassword">
            </mat-form-field>
            <mat-error *ngIf="formGroup.controls['pass'].hasError('errorMatch')" class="notequal">პაროლები არ ემთხვევა</mat-error>
        </div>
        <button mat-raised-button color="primary" (click)="changePassword()">
            ცვლილებების შენახვა
        </button>
    </div>
</div>
