<div class="renew-container">
    <div class="header-renew">
        <div class="header">
            <!--
            <button mat-icon-button class="back" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            -->
            მეილის ვერიფიკაცია
             <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="renew-body">
        <div class="toaster" *ngIf="toaster">
            <div class="toaster-message">
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
                <div class="toaster-content">
                   მითითებულ მეილზე გამოგეგზავნათ პინ კოდი, ვერიფიკაციისთვის შეიყვანეთ კოდი
                </div>
                <div class="" (click)="toaster=false">
                    <mat-icon class="close-sm">close</mat-icon>
                </div>
                
            </div>
           </div>
        <div class="renew-input">
            <mat-form-field>
                <mat-label>პინ კოდი</mat-label>
                <mat-icon matPrefix>offline_pin</mat-icon>
                <input type="number" matInput [formControl]="fc">

            </mat-form-field>
            <button mat-raised-button color="primary" class="button" (click)="verify()">
                ვერიფიკაცია
            </button>
        </div>
    </div>
</div>
