<div class="tab-container divider" tab (slide)="slide($event)">
    <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="index" [dynamicHeight]="false" [preserveContent]="true">
        <mat-tab label="აღწერა">
            <ng-container *ngIf="product">
                    <div class="description-container">
                        
                        <div class="desc-wrapper">
                            <div class="desc-header">სახელი</div>
                            <div class="desc-content text">{{product.nameGeo}}</div>
                        </div>
                        <div class="desc-wrapper">
                            <div class="desc-header">მდგომარეობა</div>
                            <div class="desc-content text">{{product.condition}}</div>
                        </div>
                        <div class="desc-wrapper overflow" *ngIf="product.type === 0">
                            <div class="desc-header">კატეგორია</div>
                            <div class="desc-content gap">
                                <div class="category">
                                    {{product.categorY.name}}
                                </div>
                                
                                <div class="year">({{range}}) წ</div>
                        </div>
                        </div>
                        
                        <div class="desc-wrapper overflow ov">
                            <div class="desc-header">სრული აღწერა</div>
                            <div class="desc-content sm">{{product.description}}</div>
                        </div>
                        
                    
                    </div>
            </ng-container>
        </mat-tab>
        <!--
        <mat-tab label="შეფასება">
            <ng-container *ngIf="product">
                <div class="feedback-container">
                    
                    <div class="desc-wrapper h-4 bottom_divider">
                        <div class="desc-header more_hor">შეაფასე პროდუქტი</div>
                        <div class="desc-content least_hor">
                                    <div *ngFor="let item of starArray" (click)="stars(item)">
                                        <mat-icon class="starred">
                                          {{showIcon(item)}}
                                        </mat-icon>
                                    </div>
                        </div>
                    </div>
                    
                    <div class="wrapper">
                        <mat-form-field appearance="fill">
                            <mat-icon matPrefix class="icon">add_comment</mat-icon>
                            <textarea matInput placeholder="დაამატე კომენტარი" [formControl]="commentFC"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="button-container">
                        <button class="review" mat-raised-button (click)="reviews()">დეტალურად</button>
                        <button class="button" mat-raised-button color="primary" (click)="writeComment()">
                            დამატება
                        </button>
                    </div>
                </div>
        </ng-container>
        </mat-tab>
       -->
    </mat-tab-group>
   
</div>
